@model IEnumerable<FBClone.Models.Post>
<style>
</style>

@foreach (var item in Model)
{
    <div class="row post px-5 py-3 mt-3">

        <div class="row justify-content-around py-4 px-2 postContent">
            <div class="col-1">
                <img class="smallImg" src="~/UsersMedia/ProfilePictures/@Session["UserImg"]" alt="Alternate Text" />
            </div>
            <div class="col-9 d-flex align-items-center">
                <div class="input-group d-flex px-3">
                    <h4>@Session["FName"] @Session["LName"]</h4>
                </div>
            </div>
            <div class="col-1 d-flex align-items-center">
                @if (item.Privacy == 1)
                {
                    <i class="fa-solid fa-eye"></i>
                }
                else
                {
                    <i class="fa-solid fa-eye-slash" style="color: #FF453A;"></i>
                }
            </div>
        </div>
        <div class="row postDetails">
            @Html.DisplayFor(modelItem => item.Details)
        </div>
        <div class="row justify-content-between mt-3">
            <span class="postLikes col" style="color:#87878A;"> @Html.DisplayFor(modelItem => item.Likes) Apples  @Html.DisplayFor(modelItem => item.Dislikes) Deaths</span>
            <p class="text-right col" style="color:#87878A;"> @Html.DisplayFor(modelItem => item.Date) </p>
            <hr />
        </div>
        <div class="row justify-content-around">
            <div class="col-2">
                <a class="postControl" href="/Post/LikePost/?postId=@Html.DisplayFor(modelItem => item.PostId)">
                    <img class="postIcon" src="~/Media/apple.png" alt="" />
                    <p>Give Apple</p>
                </a>
            </div>
            <div class="col-2">
                <a class="postControl" href="/Post/PostDetails/?postId=@Html.DisplayFor(modelItem => item.PostId)">
                    <img class="postIcon" src="~/Media/comment.png" alt="" />
                    <p>Comment</p>
                </a>
            </div>
            <div class="col-2">
                <a class="postControl" href="/Post/DislikePost/?postId=@Html.DisplayFor(modelItem => item.PostId)">
                    <img class="postIcon" src="~/Media/writename.png" alt="" />
                    <p>Write Name</p>
                </a>
            </div>
        </div>
    </div>

}

