@model IEnumerable<FBClone.Models.User>
<style>
    
</style>
<div class="container">

    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <div class="row py-4 px-2 justify-content-around">
                <div class="col-1">
                    <img class="smallImg" src="~/UsersMedia/ProfilePictures/@Html.DisplayFor(modelItem => item.ImgUrl)" alt="Alternate Text" />
                </div>
                <div class="col-3 d-flex align-items-center">
                    <p> @Html.DisplayFor(modelItem => item.FName) @Html.DisplayFor(modelItem => item.LName) </p>
                </div>
                <div class="col-3 d-flex align-items-center">
                    @Html.ActionLink("Accept", "AcceptFriendRequest", new { id = item.UserId }, new { @class = "lightBtn" })
                    @Html.ActionLink("Reject", "RejectFriendRequest", new { id = item.UserId }, new { @class = "redBtn mx-3" })
                </div>
            </div>
        }

    }
    else
    {
        <p class="pt-3"> @ViewBag.error </p>
    }

</div>