@model FBClone.Models.User

@{
    ViewBag.Title = "ChangeImage";

    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();

        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
               Path.GetFileName(photo.FileName);
            imagePath = @"UsersMedia/ProfilePictures/" + newFileName;
            photo.Save(@"~/" + imagePath);
        }
    }
}

<h2>ChangeImage</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.ImgUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImgUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImgUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<body>
    <form action="" method="post" enctype="multipart/form-data">

        <fieldset>
            <legend> Upload Image </legend>
            <label for="Image">Image</label>
            <input type="file" name="Image" size="35" />
            <br />
            <input type="submit" value="Upload" />
        </fieldset>

    </form>
    <h1>Uploaded Image</h1>

    @if (imagePath != "") 
    {
        <div class="result"><img src="@imagePath" alt="image" /></div>
    }
    <img src="F:\ASP.NET projects\FBClone\BreadZ\zoz.jpg" alt="Alternate Text" />
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
