@model FBClone.Models.User

<style>
    .profile {
        width: 100%;
        border-radius: 8px;
    }

    .profileIcon {
        width: 30px;
        height: auto;
        margin-right: 5px;
    }
    .profileData p {
        word-break: break-all;
    }
</style>

<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            <div class="col-12">
                <a href="/Account/ChangeImage"> <img class="profile" src="~/UsersMedia/ProfilePictures/@Session["UserImg"] " alt="Alternate Text" /> </a>
            </div>
            <a>
                <button onclick="showEditInfo()" class="col-12 my-3 lightBtn"> Edit </button>
            </a>
            <div class="col-12 mt-3 profileData">
                <p><img class="profileIcon" src="~/Media/name.png" alt="Name" /> @Session["FName"] @Session["LName"]</p>
                <p><img class="profileIcon" src="~/Media/city.png" alt="Place" /> @Session["Country"], @Session["City"]</p>
                <p><img class="profileIcon" src="~/Media/mobile.png" alt="Mobile" /> @Session["Mobile"]</p>
                <p><img class="profileIcon" src="~/Media/mail.png" alt="Mail" /> @Session["Email"]</p>
                <p> @Html.ActionLink("Friends","ShowFriends","Account") </p>
            </div>
        </div>
        <div class="col-8 offset-1" id="profileWall">
            <div class="col-12" id="Post">
                @Html.Action("Post", "Account")
            </div>
            <div class="col-12 mt-5" id="ShowPosts">
                @Html.Action("ShowPosts", "Account")
            </div>
        </div>
    </div>
</div>
<script>
    function showEditInfo() {
        $("#profileWall").load("/Account/EditInfo");
    }
</script>

