@model FBClone.Models.User

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<img width="200" height="200" src="~/UsersMedia/ProfilePictures/@Session["UserImg"] " alt="Alternate Text" />
<div>
    <div>
        @Html.ActionLink("change img", "ChangeImage")
    </div>

    <h4>Hello @Session["FName"] @Session["LName"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Session["UserId"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Session["FName"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Session["LName"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Session["Email"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Session["Password"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Session["City"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Session["Country"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Session["Mobile"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendRequests)
        </dt>

        <dd>
            <a href="/Account/ShowFriendReqs">Show</a>
        </dd>
        <dt>
            Friends
        </dt>

        <dd>
            <a href="/Account/ShowFriends">Show</a>
        </dd>

        <dt>
            Post Privacy
        </dt>

        <dd>
            <span>
                @if ((int)Session["PostPrivacy"] == 1)
                {<span>Friends</span> }
                else
                { <span>Only Me</span>}
            </span>
            <a href="/Account/PostPrivacy">Change</a>
        </dd>

    </dl>
</div>
