@model FBClone.Models.ViewModel_Login

<link href="~/Content/Style/LoginReg.css" rel="stylesheet" />
<div class="row justify-content-between login">
    <div class="col-6 d-flex align-items-center">
        <img class="loginImg" src="~/Media/LoginCover.png" alt="Alternate Text" />
    </div>
    <div class="col-6 loginForm py-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="loginFormContent py-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "lightInput loginInputs mt-3", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "lightInput loginInputs mt-2", @placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <input type="submit" value="Login" class="btn btn-default darkBtn loginBtn mt-3" />
                <p class="loginText">Not Registered Yet? @Html.ActionLink("Create an Account", "SignUp", "Account")</p>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
