@model FBClone.Models.User

<style>
    .profile {
        width: 100%;
        border-radius: 8px;
    }

    .profileIcon {
        width: 30px;
        height: auto;
        margin-right: 5px;
    }

    .profileData p {
        word-break: break-all;
    }
</style>

<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            <div class="col-12">
                <a href="/Account/ChangeImage"> <img class="profile" src="~/UsersMedia/ProfilePictures/@Model.ImgUrl " alt="Alternate Text" /> </a>
            </div>
            <button class="col-12 my-3 lightBtn"> Edit </button>
            <div class="col-12 mt-3 profileData">
                <p><img class="profileIcon" src="~/Media/name.png" alt="Name" /> @Model.FName @Model.LName</p>
                <p><img class="profileIcon" src="~/Media/city.png" alt="Place" /> @Model.Country, @Model.City</p>
                <p><img class="profileIcon" src="~/Media/mobile.png" alt="Mobile" /> @Model.Mobile</p>
                <p><img class="profileIcon" src="~/Media/mail.png" alt="Mail" /> @Model.Email</p>
            </div>
        </div>
        <div class="col-8 offset-1">
            <div class="col-12 mt-5" id="ShowPosts">
                @Html.Action("ShowUserProfilePosts", "Account")
            </div>
        </div>
    </div>
</div>
<script>

</script>

