<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deathnote</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/4ec68ea5bd.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Style/global.css" rel="stylesheet" />
</head>
<body>
    @if (Session["UserId"] != null)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container d-inline">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/Media/Logo.png" class="logo" alt="Alternate Text" />

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav d-inline">
                        <li>@Html.ActionLink("Profile", "Home", "Account")</li>
                        <li>@Html.ActionLink("Home", "ShowUserHome", "Account")</li>
                        <li>@Html.ActionLink("Requests", "ShowFriendReqs", "Friends")</li>
                        <li>@Html.ActionLink("Sign Out", "SignOut", "Account")</li>
                        <li>
                            <div class="mx-5 mt-3 row">
                                <input id="searchKey" value=" " placeholder="Find Someone..." class="darkInput col-10" />
                                <button onclick="search()" class="col-1" style="position:relative;width:20px;left:-35px;top:2px;border:none;background:none;">
                                    <span class="material-symbols-outlined">search</span>
                                </button>
                            </div>
                        </li>
                        <li>@Html.ActionLink("List Accounts", "List", "Account")</li>

                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container-fluid mainBody">
        <p style="color:red;">@ViewBag.error</p>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - DeathNote</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        function search() {
            var key = document.getElementById("searchKey");
            if (key.value != "") {
                window.location.href = "/Search/SearchResult/?keyword=" + key.value.replaceAll(" ", "");
            }
        }
    </script>

</body>

</html>